.best {
     /* background-image: url; */
     background-color: #1c252e;
     width: 100%;
     height: auto;
     padding: 70px 0px;
     overflow: hidden;
}
.best .row:first-of-type {
     text-align: center;
     margin: 40px;
}
.best .row:first-of-type span {
     color: #e4d804;
     font-size: 14px;
     text-transform: uppercase;
}
.best h2 {
     color: #ddd;
     font-size: 15px;
     font-weight: bold;
     margin-top: 15px;
     
}