.services-section h5 {
  color: #f9c800;
  font-weight: 600;
  margin-bottom: 10px;
}
.services-section h2 {
  font-weight: 700;
  margin-bottom: 20px;
}
.services-section p {
  color: #555;
  margin-bottom: 25px;
}
.download-card {
  position: relative;
  display: inline-block;
}
.download-card .price-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #f9c800;
  color: #000;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
}
.service-item .icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  border-radius: 50%;
}